#content{
	width: 900px;
	margin: 0 auto;
}

#comment{
	width: 600px;
	margin: 20px 40px;
}

.navbar{
	margin: 10px;
}

#comment_form{
	width: 700px;
	margin: 20px;
}

.input-group-sm{
	width: 150px;
}

.form-group{
	margin: 10px auto;
}

#button{
	text-align: right;
}

#comment a{
	margin-left: 15px; 
}